@model ProgramasMobilidadeESW2017.Models.Candidatura

@{
    ViewData["Title"] = "Cancel";
}

<h2>Cancelar candidatura</h2>

<h3>Tem a certeza que pretende cancelar a candidatura?</h3>
<div>
    <h4>Candidatura #@Html.DisplayFor(model => model.ID) </h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Candidato")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.PrimeiroNome) @Html.DisplayFor(model => model.User.UltimoNome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EstadoCandidatura)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EstadoCandidatura.Designacao)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProgramaMobilidade)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProgramaMobilidade.Nome)
        </dd>
    </dl>
    
    <form asp-action="Cancel">
        <input type="hidden" asp-for="ID" />
        @*<h4>Inserir observação:</h4>*@
        @Html.TextArea("Nota", null, new { style = "color: black; width: 100%; height: 5em", placeholder = "Escreva a razão de cancelamento" })
        <br />
        <input type="submit" value="Cancelar Candidatura" class="btn btn-danger" />
        <a onclick="window.history.back()" class="btn btn-info">Voltar</a>
    </form>
</div>
