@model ProgramasMobilidadeESW2017.Models.Candidatura

@{
    ViewData["Title"] = "Detalhes";
}

<h2>Dados da Candidatura</h2>

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NomePessoaContacto)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NomePessoaContacto)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TelefonePessoaContacto)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TelefonePessoaContacto)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RelacaoComCandidato)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RelacaoComCandidato)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EstadoCandidatura)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EstadoCandidatura.Designacao)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProgramaMobilidade)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProgramaMobilidade.Nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.User.PrimeiroNome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.PrimeiroNome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.User.UltimoNome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.UltimoNome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.User.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.User.Nacionalidade)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.Nacionalidade)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.User.DataNascimento)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.DataNascimento)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Cancel" asp-route-id="@Model.ID">Cancelar</a> |
    <a asp-action="Index">Voltar</a>
</div>
