@model IEnumerable<ProgramasMobilidadeESW2017.Models.Candidatura>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.NomePessoaContacto)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TelefonePessoaContacto)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RelacaoComCandidato)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.EstadoCandidatura)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProgramaMobilidade)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomePessoaContacto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TelefonePessoaContacto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RelacaoComCandidato)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstadoCandidatura.Designacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProgramaMobilidade.Nome)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
