@model IEnumerable<ProgramasMobilidadeESW2017.Models.Candidatura>

@{
    ViewData["Title"] = "Candidaturas";
}

<h2>Lista de Candidaturas</h2>

<table class="table table-condensed table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ID)
            </th>
            <th>
                @Html.DisplayName("Candidato")
                @*@Html.DisplayNameFor(model => model.NomePessoaContacto)*@
            </th>
            @*<th>
            @Html.DisplayNameFor(model => model.TelefonePessoaContacto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RelacaoComCandidato)
        </th>*@
            <th>
                @Html.DisplayNameFor(model => model.EstadoCandidatura)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProgramaMobilidade)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
    {
        <tr>
            <td class="cell-center" >
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td class="cell-center">
                @Html.DisplayFor(modelItem => item.User.PrimeiroNome) @Html.DisplayFor(modelItem => item.User.UltimoNome)
            </td>
            @*<td>
            @Html.DisplayFor(modelItem => item.TelefonePessoaContacto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RelacaoComCandidato)
            </td>*@
            <td class="cell-center">
                @Html.DisplayFor(modelItem => item.EstadoCandidatura.Designacao)
            </td>
            <td class="cell-center">
                @Html.DisplayFor(modelItem => item.ProgramaMobilidade.Nome)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.ID" class="btn btn-xs btn-primary" >Detalhes</a>
            </td>
        </tr>
}
    </tbody>
</table>
