@model ProgramasMobilidadeESW2017.Models.ProgramaMobilidade

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Detalhes Programa de Mobilidade";
}

<div>
    <h3>@Html.DisplayTextFor(model => model.Nome)</h3>
    <h4>@Html.DisplayTextFor(model => model.Descricao)</h4>
    <br />
    <div class="row">
        @Html.LabelFor(model => model.Duracao, new { @class = "col-sm-3 col-form-label" })
        <span class="col-sm-9">
            @Html.DisplayTextFor(model => model.Duracao)
        </span>
    </div>
    <div class="row">
        @Html.LabelFor(model => model.DataInicioInscricao, new { @class = "col-sm-3 col-form-label" })
        <span class="col-sm-9">
            @Html.DisplayFor(model => model.DataInicioInscricao)
        </span>
    </div>
    <div class="row">
        @Html.LabelFor(model => model.DataLimiteInscricao, new { @class = "col-sm-3 col-form-label" })
        <span class="col-sm-9">
            @Html.DisplayFor(model => model.DataLimiteInscricao)
        </span>
    </div>
    <div class="row">
        @Html.LabelFor(model => model.TipoProgramaMobilidade, new { @class = "col-sm-3 col-form-label" })
        <span class="col-sm-9">
            @Html.DisplayTextFor(model => model.TipoProgramaMobilidade.Designacao)
        </span>
    </div>
</div>

<br />
<div>
    <a asp-action="Index" class="btn btn-sm btn-success">Voltar</a>
    @if (SignInManager.IsSignedIn(User) && await UserManager.IsInRoleAsync(UserManager.GetUserAsync(User).Result, "Administrador"))
    {
        <a asp-action="Edit" asp-route-id="@Model.ID" class="btn btn-sm btn-warning">Editar</a>
    }
    @if (SignInManager.IsSignedIn(User) && await UserManager.IsInRoleAsync(UserManager.GetUserAsync(User).Result, "Utilizador"))
    {
        <a asp-controller="Candidaturas" asp-action="Create" asp-route-id="@Model.ID" class="btn btn-sm btn-primary">Candidatar</a>
    }
</div>
