@model IEnumerable<ProgramasMobilidadeESW2017.Models.ProgramaMobilidade>

@{
    ViewData["Title"] = "Index";
}

<h2>Programas Mobilidade</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>

@using (Html.BeginForm())
{
    <p>
        Find by name: @Html.TextBox("SearchString", null, new { style = "color: black;" })
        <input type="submit" value="Search" />
    </p>
}

@foreach (var item in Model)
{
    <div class="col-sm-4">
        <div style="background-image:url(/images/bolsaIberoAmericana.jpg); background-size:cover; background-color:rgba(128, 128, 128, 75); background-repeat:no-repeat; display: flex; opacity:0.5; border: 1px solid black; align-items:center; justify-content:space-between; flex-direction: column; flex: 1; height: 150px; border-radius: 25px; margin: 12px 0; box-shadow: rgb(128, 128, 128) 2px 3px">
            <p style="margin-top: 7px; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; font-weight: bold">
            @Html.DisplayFor(modelItem => item.Nome)
            </p>
            <div style="padding: 7px; display: flex; width: 100%; justify-content: space-between; align-content:center;" >
                <p>
                    @Html.DisplayNameFor(model => model.DataLimiteInscricao):
                </p>
                <p>
                    @Html.DisplayFor(modelItem => item.DataLimiteInscricao)
                </p>
            </div>
        </div>
    </div>
    @*<tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descricao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Duracao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataInicioInscricao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataLimiteInscricao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipoProgramaMobilidade.Designacao)
        </td>
        <td>
            <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
            <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
            <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
        </td>
    </tr>*@
}


@*<div class="col-sm-4">
    <div style="display: flex; border: 1px solid black; background-color:lightseagreen; flex-direction: row; flex: 1;  height: 150px; border-radius: 25px; margin: 12px 0; box-shadow: rgb(128, 128, 128) 2px 3px"></div>
</div>
<div class="col-sm-4">
    <div style="display: flex; border: 1px solid black; background-color:lightseagreen; flex-direction: row; flex: 1;  height: 150px; border-radius: 25px; margin: 12px 0; box-shadow: rgb(128, 128, 128) 2px 3px"></div>
</div>
<div class="col-sm-4">
    <div style="display: flex; border: 1px solid black; background-color:lightseagreen; flex-direction: row; flex: 1;  height: 150px; border-radius: 25px; margin: 12px 0; box-shadow: rgb(128, 128, 128) 2px 3px"></div>
</div>
<div class="col-sm-4">
    <div style="display: flex; border: 1px solid black; background-color:lightseagreen; flex-direction: row; flex: 1;  height: 150px; border-radius: 25px; margin: 12px 0; box-shadow: rgb(128, 128, 128) 2px 3px"></div>
</div>*@

